/* CSS Remedy */
*, *::after, *::before {
    box-sizing: border-box;  
}

/* Custom Properties */
:root {
    --main-color-text: #000000;
    --text-color-2: #666666;
    --text-color-3: #52b134;
    --main-bg-color: #ffffff;
    --bg-color-2: #f1f2f6;
    --bg-color-3: #333333;
    --border-color: #d9dadd;
}

/* Header Styles */
header {
    background-color: var(--main-bg-color);
    padding: .4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
}

header button:first-of-type {
    order: 1;
}

header h1 {
    order: 2;
    margin: 0;
}

search {
    order: 3;
}

header button:first-of-type img {
    width: 1em;
}

/* Hamburger Menu Styles */
nav {
    display: grid;
    align-content: start;
    gap: 1em;
    background: var(--bg-color-2);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform 0.3s;
    width: 80%;
    display: flex;
    flex-direction: column;
}

nav.show-menu {
    transform: translateX(0%);
}

nav button {
    margin: 0;
    padding: .7em;
    background: var(--bg-color-3);
    order: 1;
}

nav button img {
    width: 1em;
    filter: invert(1);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    order: 2;
}

nav ul li {
    margin-top: -1em;
    padding: 1em;
    background: var(--main-bg-color);
    border: solid .1em var(--bg-color-2);
}

/* Search Form Styles */
search {
    display: flex;
    align-items: center;
}

label {
    margin-right: 0.5em;
}

input[type="search"] {
    padding: 0.5em;
    border: 1px solid var(--border-color);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform 0.3s;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button img {
    width: 3em;
}

/* Hover Effect for Links */
nav a:hover {
    color: var(--hover-color);
}

/* Footer Styles */
footer {
    background-color: var(--footer-bg-color);
    padding: 2em 0;
    text-align: center;
}

/* Heading Styles in Footer */
footer h2 a {
    font-size: 1.5em;
    text-decoration: none;
    color: var(--text-color-2);
}

/* Unordered List Styles in Footer */
footer ul {
    list-style: none;
    padding: 0;
    margin: 1em 0;
}

/* List Item Styles in Footer */
footer li {
    display: inline-block;
    margin-right: 1em;
}

/* Hyperlinks in List Items Styles */
footer li a img {
    width: 30px;
    height: 30px;
}

/* Paragraph Styles in Footer */
footer p {
    font-size: 0.8em;
    color: var(--footer-text-color);
    margin: 0.5em 0;
}

/* Hyperlinks in Paragraphs Styles */
footer p a {
    color: var(--link-color);
    text-decoration: none;
}

/* Hover Effect for Hyperlinks in Paragraphs */
footer p a:hover {
    color: var(--hover-color);
}

/* States Styles*/
/* Link */
a {
    color: var(--main-color-text);
}

a:visited {
    color: var(--text-color-3);
    text-decoration: underline dotted;
}

a:focus {
    outline-color: var(--text-color-3);
}

a:hover {
    color: var(--text-color-3);
    text-decoration: underline;
}

a:active {
    color: var(--text-color-2);
    text-decoration: underline overline;    
}

/*Button*/
button {
    
}

button:hover {
    
}

button:focus {
    
}

button:active {
    
}

/* Responsive Styling for 27" */
@media only screen and (min-width: 993px) {
    /* Style the navigation menu */
    nav ul {
        list-style: none;
        display: flex;
    }

    nav ul li {
        margin-right: 1em;
    }

    nav a {
        text-decoration: none;
        color: var(--link-color);
    }

    header button:first-of-type, header button:nth-last-of-type(2) {
        display: none;
    }
}